<%= form_with(model: patient) do |form| %>
  <% if patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
        <% patient.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.text_field :name %>
  <br>
  <%= form.email_field :email %>
  <br>
  <%= form.collection_select(:appointment_ids, Appointment.all, :id, :appoinment_date, { :prompt => "Select Appointments" }, { multiple: true }) %>
  <%= form.submit %>
  </div>
<% end %>
