<p id="notice"><%= notice %></p>

<h1>Appoinments</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appoinments.each do |appoinment| %>
      <tr>
        <td><%= link_to 'Show', appoinment %></td>
        <td><%= link_to 'Edit', edit_appoinment_path(appoinment) %></td>
        <td><%= link_to 'Destroy', appoinment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Appoinment', new_appoinment_path %>
